<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Under construction</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}" />
	<script type="text/javascript" th:src="@{/js/javascript.js}"></script>
</head>
<body>
	<div class="container text-center">
		<h3>Login Page under construction</h3>
		<h3>Login Page last thing to build</h3>
	</div>
	<div>
		<script>
			window.onload=redirectAfterTime("/admin", 1);
		</script>
	</div>
</body>
</html>