<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{/user_admin/fragments :: head}"></head>

<body>
	<div th:replace="~{/user_admin/fragments :: navigation_bar}"></div>
	
	<div class="container text-center pagetitles">
		<h1 th:text="${businessName}"></h1>
		<h3>Edit SignUp</h3>
		<h4 th:text="${signup.firstName} + ' ' + ${signup.lastName}"></h4>
	</div>
	
	<div class="edit-sign-up">
		<form th:action="@{/editSignUp}" method="post" th:object="${signup}">
			<table>
				<tr>
					<td>Email Address</td>
					<td><input type="email" th:field="*{emailAddress}" required /></td>
				</tr>
				<tr>
					<td>Phone Number</td>
					<td><input type="text" th:field="*{phoneNumber}" /></td>
				</tr>
				<tr>
					<td>First Name</td>
					<td><input type="text" th:field="*{firstName}" required /></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input type="text" th:field="*{lastName}" required /></td>
				</tr>
				<tr>
					<td colspan="2" id="edit-sign-up-submit">
						<button type="submit">Save Changes</button>
					</td>
				<tr>
			</table>
		</form>
	</div>
	
	<footer th:replace="~{/user_admin/fragments :: footer}"></footer>
</body>
</html>