<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{/user_admin/fragments :: head}"></head>

<body>
	<div th:replace="~{/user_admin/fragments :: navigation_bar}"></div>
	
	<div class="container text-center pagetitles">
		<h1 th:text="${businessName}"></h1>
		<h3>Signed Up</h3>
	</div>
	
	<div class="content">
		<table class="signup-table">
			<thead>
				<tr>
					<th>Database ID</th>
					<th>Email Address</th>
					<th>Phone Number</th>
					<th>Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>		<!-- class="signup-table-tbody" -->
				<tr th:each="signup: ${signUps}">
					<td th:text="${signup.signUpId}"></td>
					<td th:text="${signup.emailAddress}"></td>
					<td th:text="${signup.phoneNumber}"></td>
					<td th:text="${signup.firstName} + ' ' + ${signup.lastName}"></td>
					<td class="signup-table-icons">
						<a th:href="'mailto:' + ${signup.emailAddress}">
							<img th:src="@{/icons/envelope-regular.svg}" alt="envelope-regular"/>
						</a>
						<a th:href="@{/editSignUp/{id}(id=${signup.signUpId})}"> 
							<img th:src="@{/icons/signup-profile.svg}" alt="signup-profile"/>
						</a>
						<a th:href="@{/deleteSignUp/{id}(id=${signup.signUpId})}">
							<img th:src="@{/icons/trash-can.svg}" alt="trash-can"/>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<footer th:replace="~{/user_admin/fragments :: footer}"></footer>
</body>
</html>