<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{/user_admin/fragments :: head}"></head>

<body>
	<div th:replace="~{/user_admin/fragments :: navigation_bar}"></div>
	
	<div class="container text-center pagetitles">
		<h1 th:text="${businessName}"></h1>
		<h3>User Control</h3>
	</div>
	
	<div class="content">
	
	</div>
	
	<footer th:replace="~{/user_admin/fragments :: footer}"></footer>
</body>
</html>