@charset "ISO-8859-1";
nav {
	background-color: black;
	color: white;
}
.nav-bar {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
.nav-bar-color {
	color: white;
}

.nav-bar-color a {
	color: white;
}

body {
	background-color: lightblue;
}

.list-signups {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

footer {
	background-color:black;
	position:absolute;
	left:0px;
	bottom:0px;
	padding:10px;
	text-align:center;
	font-size: 14pt;
	color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}